---
---

@import "{{ site.theme }}";

/* timeway.github.io 样式*/
.markdown-body>*:first-child {
    display: none;
}

/* Zexin Li's Blogs 样式 */
h1#zexin-lis-blogs {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
